@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #000;
  line-height: 1;
  font-family: "";
  font-size: 1.125rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: "";
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent
}
input,
textarea {
  width: 100%
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper > main {
  flex: 1 1 auto
}
.wrapper > * {
  min-width: 0
}
[class*=__container] {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 .9375rem
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.hero__body {
  display: flex;
  flex-wrap: nowrap
}
.hero__item {
  content: url(../img/3.webp);
  background-position: 0 0;
  background-repeat: repeat;
  display: inline-block;
  background-size: cover;
  margin-right: .3125rem;
  transition: .8s;
  -webkit-animation: 12s line infinite linear;
  animation: 12s line infinite linear
}
@-webkit-keyframes line {
  0% {
    opacity: .3;
    -webkit-transform: translateX(calc(-100% - 20px));
    transform: translateX(calc(-100% - 20px))
  }
  1% {
    opacity: 1
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0)
  }
}
@keyframes line {
  0% {
    opacity: .3;
    -webkit-transform: translateX(calc(-100% - 20px));
    transform: translateX(calc(-100% - 20px))
  }
  1% {
    opacity: 1
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0)
  }
}
.contact__page {
  text-align: center;
  padding: 3.125rem 0;
  font-size: 1.125rem;
  color: #37393f
}
.page__title:not(:last-child) {
  margin-bottom: 1rem
}
.page__title {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 130%
}
.page__title::before {
  content: "";
  display: inline-block;
  width: .75rem;
  height: .75rem;
  flex: 0 0 .75rem;
  margin-right: .375rem;
  background-color: #40ddb6
}
.page__sub-title:not(:last-child) {
  margin-bottom: 2.5rem
}
.page__sub-title {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 121%
}
.page__form:not(:last-child) {
  margin-bottom: 3.125rem
}
.form__body:not(:last-child) {
  margin-bottom: 3.125rem
}
.form__body {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1.75rem;
  margin: 0 -1.09375rem
}
.form__item {
  flex: 1 1 50%;
  padding: 0 1.09375rem;
  min-width: 18.125rem;
  line-height: 130%;
  transition: .5s
}
.form__item input {
  width: 100%;
  padding: 1.3125rem 2.5rem 1.25rem;
  border: .0625rem solid #6b77e5;
  background-color: #f8f8f8;
  border-radius: .625rem
}
.form .form__item--textarea textarea {
  width: 100%;
  height: 100%;
  padding: 1.3125rem 2.5rem 1.25rem;
  border: .0625rem solid #6b77e5;
  background-color: #f8f8f8;
  resize: vertical;
  border-radius: 0!important
}
.form button,
.form input,
.form textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit
}
.form__button {
  padding: 1.3125rem 3.8125rem 1.375rem 3.8125rem;
  line-height: 122%;
  background-color: #6b77e5;
  border: .0625rem solid transparent;
  color: #fff;
  text-align: center;
  font-weight: 600;
  text-transform: capitalize;
  transition: color .5s,background-color .5s,border .5s;
  border-radius: .625rem
}
.form button,
.form option,
.form select {
  cursor: pointer
}
.form button:hover {
  color: inherit;
  background-color: transparent;
  border: .0625rem solid #6b77e5
}
@media (min-width:75em) {
  .hero__item {
    width: 3.75rem
  }
  .hero__item {
    height: 3.75rem
  }
}
@media (max-width:20em) {
  .hero__item {
    width: 2.5rem
  }
  .hero__item {
    height: 2.5rem
  }
}
@media (min-width:20em) and (max-width:75em) {
  @supports (width:clamp(2.5rem ,2.0454545455rem + 2.2727272727vw ,3.75rem)) {
    .hero__item {
      width: clamp(2.5rem ,2.0454545455rem + 2.2727272727vw ,3.75rem)
    }
  }
  @supports not (width:clamp(2.5rem ,2.0454545455rem + 2.2727272727vw ,3.75rem)) {
    .hero__item {
      width: calc(2.5rem + 1.25 * (100vw - 20rem)/ 55)
    }
  }
  @supports (height:clamp(2.5rem ,2.0454545455rem + 2.2727272727vw ,3.75rem)) {
    .hero__item {
      height: clamp(2.5rem ,2.0454545455rem + 2.2727272727vw ,3.75rem)
    }
  }
  @supports not (height:clamp(2.5rem ,2.0454545455rem + 2.2727272727vw ,3.75rem)) {
    .hero__item {
      height: calc(2.5rem + 1.25 * (100vw - 20rem)/ 55)
    }
  }
}